---
---

$base-color: #0B132B;
$accent: #1C2541;
$neutral: #3A506B;
$light-accent: #5BC0BE;
$light: #6FFFE9;

$content-width: 74rem;

html {
  font-family: 'Rubik', sans-serif;
}

body {
  display: block;
  position: relative;

  color: $light;
  background-color: $base-color;

  width: 100%;
  max-width: 100%;

  padding: 0rem;
  margin: 0rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Trirong', serif;
  padding: 0;
  margin: 0;
  color: $light;
}

/* The main header */
body > header, body > footer {
  position: relative;
  overflow: hidden;
  background-color: $neutral;
  padding: 1rem;
  z-index: 200;

  nav {
    max-width: 100%;
    width: $content-width;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: $light-accent;
  }
}

body > header {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.3);
}

/* The main footer */
body > footer {
  nav {
    justify-content: space-around;
    align-items: center;
  }

  a > svg {
    max-height: 6rem;
    height: 100%;
    width: 100%;
  }
}

/* content body */

main {
  max-width: 100%;
  width: $content-width;
  margin: auto;

  background-color: $accent;
  overflow: hidden;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

article.content {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: left;
  color: $light;

  h1,h2 {
    border-bottom: 1px solid $light-accent;
  }

  pre {
    font-family: 'Open Sans', sans-serif;
    background-color: $light-accent;
    color: $base-color;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow: auto;
  }

  a {
    text-decoration: none;
    color: $light-accent;
  }
}

:fullscreen article.content {
  display: none !important;
}

canvas {
  /*
      A demo's canvas should be the most prominent thing on screen.
      But you shouldn't have to scroll to see it.
  */
  --max: calc(100vh - 5rem);
  min-height: min(30rem, var(--max));
  max-height: var(--max);
  height: 50vh;

  // always as wide as the content area allows
  max-width: 100%;
  width: 100%;

  background-color: black;
  position: relative;
}

:fullscreen canvas {
  position: fixed;

  top: 0;
  left: 0;

  max-width: 100vw !important;
  width: 100vw !important;

  max-height: 100vh !important;
  height: 100vh !important;

  z-index: 1010 !important;
}

@import "card";